
form{
    background-color: #808080 !important;
    margin-top: 30px;
}
.row.row-navbar{
    /* background-color: white; */
    border-top: 30px;
}
.adress.form-control.mx-2{
    width: 80px;
}

.fecha{
    display: flex;
    text-align: center;
    justify-content: center;
}
.adress.form-select.me-2{
    width: 100px;
}
.fw-semibold.mx-2.tipo-adress{
    width: 870px;
}
.nombre.mx-2.fw-semibold{
    width: 520px;
}

.rh.mx-2.fw-semibold{
    width: 40px;
}
.fw-semibold.mx-2.rh{
    margin-left: 500px;
}
.sexo.mx-2.fw-semibold{
    width: 220px;
}

.fw-semibold.mx-2.tipo-docu{
    width: 610px ;
}
.fw-semibold.mx-2.tipo-date{
    width: 1000px;
}
.mx-2.fw-semibold{
    width: 250px;
}

.input-grupo{
    display: flex;
    align-items: center;
}
h3{
    display: flex;
    text-align: center;
}
.collogo{
    display: flex;
    justify-content: center;
}
.coltxt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.colologo{
    display: flex;
    justify-content: center;
}
